/***/
@font-face {
    font-family: 'Nullboard';
    font-weight: 400;
    font-style: normal;
    src: url('extras/Barlow-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Nullboard';
    font-weight: 500;
    font-style: normal;
    src: url('extras/Barlow-Medium.woff') format('woff');
}

/***/
.board-body h1, textarea, input {
    padding: 0;
    margin: 0;
}

.board-body input, textarea {
    font-family: Nullboard, sans-serif;
    font-size: 13px;
}

.board-body {
    background: #fff;
    background: #f8f9fb;
}
.board-body .wrap {
    overflow-x: auto;
}

.board-body .dragging {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.board-body .ding {
    padding-top: 2px;
}

.board-body a {
    text-decoration: none;
    transition: color 200ms;
}

.board-body a, a:active, a:focus, textarea, input {
    outline: none;
}

.board-body tt {
    display: none;
}

/***/
.board-body .clearfix:after,
.board:after,
.lists:after,
.notes:after,
.head:after,
.menu:after {
    content: "";
    display: table;
    clear: both;
}

/***/
.board-body .board {
    min-width: 250px;

    width: -moz-max-content;    /* firefox */
    width: -webkit-max-content; /* chrome  */
    width: intrinsic;           /* safari  */

    margin: 0 auto;
    padding: 20px;

    user-select: none;
}

.board-body .crowded .board {
    margin-top: 28px;
}

.board-body .board u {
    text-decoration: none;
}

.board-body .board u:before {
    content: '\00D7';
    position: relative;
    top: 2px;
    font-size: 17px;
    line-height: 10px;
    font-weight: 400;
}

/***/
.board-body .board .head {
    padding: 5px 0;
    margin: 0 5px;
    position: relative;
}

.board-body .board .head .text,
.board-body .board .head .edit {
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20px;
    padding: 0 5px 2px;
    border: none;
}

.board-body .board .head .text {
    min-height: 20px;
    white-space: pre;
    overflow: hidden;
}

.board-body .board .head .edit {
    display: none;
}

.board-body .board .head .edit::placeholder {
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    text-transform: uppercase;
    color: #1489db;
    opacity: 0.8;
}

.board-body .board .head.editing .text {
    display: none;
}

.board-body .board .head.editing .edit {
    display: block;
    outline: 1px solid #8eaedd;
}

.board-body .board .menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    padding: 5px 6px 7px 30px;
    background: linear-gradient(to right, #EAEDF000, #EAEDF0 10px);
    font-size: 11px;
    line-height: 20px;
}

.board-body .board .menu a,
.board-body .board .ops  a {
    color: #000000A0;
    transition: color 200ms;
}

.board-body .board .menu a {
    padding-left: 10px;
}

.board-body .board .menu a:hover,
.board-body .board .ops  a:hover {
    color: #000;
}

.board-body .board .menu a.warn:hover,
.board-body .board .ops  a.warn:hover {
    color: #c40;
}

.board-body .board .menu .undo-board,
.board-body .board .menu .redo-board {
    display: none;
}

.board-body .board .head.editing .menu {
    display: none;
}

.board-body .board > .head {
    background: #EAEDF0;
    padding: 5px;
    margin: 0 0 10px;
    border-radius: 2px;
    position: relative;
}

.board-body .board > .head .menu {
    margin-right: 5px;
}

/***/
.board-body .board .lists-scroller {
    height: auto;
    margin: -1px 0 10px;
    overflow-x: auto;
    overflow-y: hidden;
    display: none;
}

.lists-scroller div {
    height: 1px;
}

.board-body .board .lists {
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: none;
}

.board-body .board .list {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin: 0 5px 10px;
    background: linear-gradient(#EAEDF0 30px, #DDE1E5 90px);
    border-radius: 2px;
}

.board-body .board .list::-webkit-scrollbar {
    display: none;
}

.board-body .board .list:first-child {
    margin-left: 0;
}

.board-body .board .list:last-child {
    margin-right: 0;
}

.board-body .board .list .notes {
    padding: 0 5px;
}

/***/
.board-body .board .head .menu .teaser {
    position: absolute;
    right: 3px;
    top: 5px;
    padding: 0 3px;
}

.board-body .board .head .menu .bulk {
    display: none;
    opacity: 0;
    z-index: 1;
}

.board-body .board .head .menu:hover .bulk {
    display: block;
    opacity: 1;
}

.board-body .board .head .menu:hover .teaser {
    display: none;
}

/***/
.board-body .board .list .menu .mov-list-r.half {
    padding-left: 0;
}
.board-body .board .list .menu .mov-list-l.half {
    padding-right: 0;
    border-right: 0px;
}

.board-body .board .list .menu .full {
    display: none;
}

.board-body .board .list:first-child .menu .half,
.board-body .board .list:last-child  .menu .half {
    display: none;
}

.board-body .board .list:first-child .menu .mov-list-r.full,
.board-body .board .list:last-child  .menu .mov-list-l.full {
    display: initial;
}

.board-body .board .list:first-child:last-child .menu .half,
.board-body .board .list:first-child:last-child .menu .full {
    display: none;
}

/***/
.board-body .board .note {
    background: #fff;
    margin-top: 5px;
    box-shadow: 0 1px 2px #bbb, 0 0 1px #ddd;
    position: relative;
}

.board-body .board .note.dragging,
.board-body .board .note.dragging.raw {
    background: #CED4DA;
    box-shadow: 0 +1px 0 #963b3b10 inset,
                0 -1px 0 #c7212110 inset,
                +1px 0 0 #b91f1f10 inset,
                -1px 0 0 #771c1c10 inset;
}

.board-body .board .note.dragging * {
    opacity: 0 !important;
}

/***/
.board-body .board .note:last-child {
    margin-bottom: 5px;
}

.board-body .board .note .text,
.board-body .board .note .edit {
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 11px;
}

.board-body .board .note .text {
    min-height: 13px;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

/***/
.board-body .board .head .text a,
.board-body .board .note .text a {
    color: inherit;
    cursor: default;
    transition: none;
}

@keyframes whoomp {
    0%   { color: inherit; }
    30%  { color: #888;    }
    100% { color: inherit; }
}

.board-body .board .head .text a:hover,
.board-body .board .note .text a:hover {
    animation-name: whoomp;
    animation-duration: 700ms;
}

.reveal .board .head .text a,
.reveal .board .note .text a {
    color: #1489db;
    cursor: pointer;
}

.reveal .board .head .text a:hover,
.reveal .board .note .text a:hover {
    animation-name: none;
}

/***/
.board-body .board .note .edit {
    display: none;
    border: none;
}

.board-body .board .note.editing {
    box-shadow: none;
    outline: 1px solid #8eaedd;
}

.board-body .board .note.editing .text {
    display: none;
}

.board-body .board .note.editing .edit {
    display: block;
    resize: none;
}

/***/
.board-body .board .note .ops {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 400ms;
    cursor: default;
    font-size: 9px;
}

.board-body .board .note.editing .ops {
    display: none;
}

.board-body .board .note:hover .ops {
    opacity: 1;
}

.board-body .board .note .ops .teaser {
    display: block;
    margin-top: 2px;
    margin-right: 1px;
    padding-right: 3px;
}

.board-body .board .note .ops .teaser:before {
    content: '\2261';
}

.board-body .board .note .ops .bulk {
    display: none;
    background: #fff;
    border-left: none;
    padding: 0 0 1px 5px;
    font-weight: 500;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.board-body .board .note .ops:hover .bulk {
    display: block;
}

.board-body .board .note .ops:hover .teaser {
    display: none;
}

/***/
.board-body .board .note.raw {
    background: greenyellow;
    box-shadow: none;
    font-weight: 500;
}

.board-body .board .note.raw .raw-note {
    background-color: greenyellow;
}

.board-body .board .note.raw.editing {
    background: #fff;
}

.board-body .board .note.raw .text {
}

.board-body .board .note.collapsed {
    height: 23px;
}
.board-body .board .note.collapsed .collapse {
    background-color: rosybrown;
}

.board-body .board .note.collapsed .text {
    height: 13px;
    overflow: hidden;
    line-height: 22px;
    padding-top: 0;
}

.board-body .board .note.collapsed .ops {
    opacity: 1;
}

.board-body .board .note.collapsed .ops .teaser {
    padding: 1px 3px 0 1px;
}

.board-body .board .note.collapsed .ops .teaser:before {
    content: '_';
    top: 1px;
}

.board-body .board .note.collapsed:hover .ops .teaser:before {
    content: '\2261';
}

/***/
.board-body .dragster {
    z-index: 2;
    position: absolute;
    opacity: 0;
    box-shadow: 1px 2px 3px #00000050;
    background: #fff;
    white-space: pre-wrap;
    cursor: move;

    padding: 5px 25px 5px 10px;
    font-size: 11px;

    box-shadow: 0 +1px 0 #ACB4BC inset,
                0 -1px 0 #ACB4BC inset,
                +1px 0 0 #ACB4BC inset,
                -1px 0 0 #ACB4BC inset,
                0px 1px 3px #00000030;
}

.board-body .dragster a {
    color: #000;
}

.board-body .dragster.collapsed {
    overflow: hidden;
    line-height: 22px;
    padding-top: 0;
}

/***/
.board-body .logo {
    position: absolute;
    top: 9px;
    left: 9px;
    font-size: 11px;
    line-height: 19px;
    padding: 6px 12px;
    opacity: 0.6;
    z-index: 3;
    background: #f8f9fb;
}

.board-body.crowded .logo:hover {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.logo:hover {
    opacity: 1.0;
}

.board-body .logo .bulk {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 400ms;
}

.logo:hover .bulk {
    height: auto;
    opacity: 1;
}

.board-body .logo a {
    color: #000;
    display: block;
}

.board-body .logo a:hover {
    color: #1489db;
}

.board-body .logo .bulk a:before {
    display: inline-block;
    content: '-';
    width: 11px;
}

/***/
.board-body .config {
    /* position: absolute; */
    top: 10px;
    right: 21px;
    font-size: 11px;
    line-height: 19px;
    z-index: 3;
    background: #f8f9fb;
}

body.crowded .config:hover {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.board-body .config a {
    display: block;
    color: #000;
    transition: color 200ms;
}

.board-body .config a:hover {
    color: #1489db;
}

.board-body .config .teaser {
    padding: 5px;
    color: #999;
}

.board-body .config .bulk {
    margin-right: 20px;
    padding: 5px 0 10px 22px;
    transition: opacity 400ms;
}

.board-body .config .bulk div {
    display: none;
    padding: 6px 2px;
    margin: 6px -2px;
    border-top: 1px solid #00000028;
    border-bottom: 1px solid #00000028;
}

.board-body .config .bulk div a {
    display: block;
    margin-right: 10px;
}

.board-body .config .bulk div a.active {
    color: #1489db;
}

.board-body .config .bulk div a.active:before {
    content: '\2022 ';
    display: inline-block;
    width: 13px;
    margin-left: -13px;
}

.board-body .config .bulk div a.active:hover {
    color: #000;
}

.board-body .config .bulk a i,
.board-body .config .bulk a b {
    font-style: normal;
    font-weight: inherit;
}

.board-body .config .bulk a i {
    display: none;
}

.board-body .config .bulk input.imp-board-select {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.board-body .config .bulk a.switch-theme {
    padding-top: 6px;
    margin-top: 6px;
    border-top: 1px solid #00000028;
}

/***/
.board-body .config .bulk {
    display: none;
    opacity: 0;
}

.config:hover .teaser {
    display: none;
}

.config:hover .bulk {
    display: block;
    opacity: 1;
}

/***/
.board-body .overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: none;
    color: #000;
}

/***/
.board-body .overlay .license {
    font-size: 12px;
    line-height: 16px;
    white-space: pre-wrap;
    width: 384px;
    height: auto;
    max-height: 600px;
    padding: 20px 25px 22px;
    overflow-y: auto;
    background: #fff;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -192px;
}

.board-body .overlay .license a {
    color: #1489db;
}

.board-body .overlay .license span {
    display: inline-block;
    padding-right: 8px;
}

/***/
.board-body .overlay .about {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    width: 240px;
    height: auto;
    padding: 50px 25px;
    background: #fff;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -145px;
}

.board-body .overlay .about h1 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.board-body .overlay .about a {
    display: block;
    color: #1489db;
}

.board-body .overlay .about div {
    position: absolute;
    bottom: -30px;
    width: 240px;
    color: #888;
}

.board-body .overlay .about div span {
    display: inline-block;
    text-align: left;
    padding-right: 10px;
}

/***/

@media print {
    .logo, .config,
    .board .head .teaser,
    .list .head .teaser {
        visibility: hidden;
        display: none;
    }

    .board .note {
        box-shadow: none;
        outline: 1px solid #ccc;
    }

    .board .note.raw {
        outline: none;
    }
}

/*
 *	Dark mode
 */
 .board-body .dark {
    background-color: #15171A;
    color: #d6d6d6 !important;
}

.board-body .dark .board .head {
    background: #202224;
}

/***/
.board-body .dark .board .menu {
    background: linear-gradient(to right, #20222400, #202224 10px);
}

.board-body .dark .board .menu a {
    color: #aaa;
}

.board-body .dark .board .menu a:hover {
    color: #fc4;
}

.board-body .dark .board .menu a.warn:hover,
.board-body .dark .board .ops  a.warn:hover {
    color: #fc5555 !important;
}

.board-body .dark .board .head {
    color: #eee;
}

.board-body .dark .board .head .edit::placeholder {
    color: #bf9d21;
}

/***/
.board-body .dark .board .list {
    background: #202224;
}

.board-body .dark .board .note {
    background: #2B2C2F;
    background: linear-gradient(#2B2C2F, #27282B);
    box-shadow: 0 1px 3px #0005;
    text-shadow: 0 0 4px #0008;
}

.dark.reveal .board .head .text a,
.dark.reveal .board .note .text a {
    color: #fc0;
}

@keyframes whoomp-dark {
    0%   { color: inherit; }
    30%  { color: #fff;    }
    100% { color: inherit; }
}

.board-body .dark .board .head .text a:hover,
.board-body .dark .board .note .text a:hover {
    animation-name: whoomp-dark;
}


.board-body .dark .board .note.raw {
    background: transparent;
    box-shadow: none;
}

.board-body .dark .board .note.raw .text {
    color: #eee;
    text-shadow: 0 0 4px #0008;
}

.board-body .dark .board .note .ops .teaser {
    color: #ccc;
}

.board-body .dark .board .note .ops .bulk {
    background: #202224;
    border-left: 1px solid #111;
    border-bottom: 1px solid #111;
}

.board-body .dark .board .note.raw .ops .bulk {
    border: none;
}

.board-body .dark .board .note .ops .bulk a {
    color: #ccc;
}

.board-body .dark .board .note .ops .bulk a:hover {
    color: #fc2;
}

.board-body .dark .board .note.dragging,
.board-body .dark .board .note.dragging.raw {
    background: #15171A;
    box-shadow: 0 +1px 0 #000 inset,
                0 -1px 0 #000 inset,
                +1px 0 0 #000 inset,
                -1px 0 0 #000 inset;
}

.board-body .dark .dragster {
    box-shadow: 0px 1px 4px #000000;
    background: #2e3032;
}

.board-body .dark .dragster a {
    color: #d6d6d6;
}


/***/
.board-body .dark textarea,
.board-body .dark input {
    background: #111315;
    color: #eee;
}

.board-body .dark .board .head.editing .edit {
    outline: 1px solid #bc9908;
}

.board-body .dark .board .note.editing {
    background: #111315;
    outline: 1px solid #bc9908;
}

/***/
.board-body .dark .config, .dark.crowded .config:hover {
    background-color: #15171A;
}

.board-body .dark .config a {
    color: #ddd;
}

.board-body .dark .config a:hover {
    color: #fc2;
}

.board-body .dark .config .bulk div {
    border-top: 1px solid #fff2;
    border-bottom: 1px solid #fff2;
}

.board-body .dark .config .bulk div a.active {
    color: #fc2;
}

.board-body .dark .config .bulk a.switch-theme {
    border-top: 1px solid #fff2;
}

.board-body .dark .config a.switch-theme i {
    display: inline;
}

.board-body .dark .config a.switch-theme b {
    display: none;
}

/***/
.board-body .dark .logo a {
    color: #ccc;
}

.board-body .dark .logo, .dark.crowded .logo:hover {
    background: #15171A;
}

.board-body .dark .logo a:hover {
    color: #fc2;
}

.board-body .dark .logo > a:hover {
    color: #fff;
}

/*
 *	Larger font
 */
 .board-body .z1 ,
 .board-body .z1 input,
 .board-body .z1 textarea {
    font-size: 15px;
}

.board-body .z1 .board {
    min-width: 290px;
}

.board-body .z1 .board u:before {
    font-size: 19px;
    line-height: 12px;
}

.board-body .z1 .board .head .text {
    min-height: 22px;
}

.board-body .z1 .board .head .text,
.board-body .z1 .board .head .edit {
    font-size: 15px;
    line-height: 22px;
}

.board-body .z1 .board .head .edit::placeholder {
    font-size: 10px;
    line-height: 23px;
}

.board-body .z1 .board .menu {
    height: 22px;
    font-size: 13px;
    line-height: 22px;
}

.board-body .z1 .board .list {
    width: 290px;
}

.board-body .z1 .board .note .text,
.board-body .z1 .board .note .edit,
.board-body .z1 .z1 .dragster {
    font-size: 13px;
}

.board-body .z1 .board .note .text {
    min-height: 16px;
}

.board-body .z1 .board .note.collapsed {
    height: 26px;
}

.board-body .z1 .board .note.collapsed .text {
    height: 17px;
    line-height: 25px;
}

.board-body .z1 .z1 .dragster.collapsed {
    line-height: 24px;
}

.board-body .z1 .board .note .ops {
    font-size: 10px;
}

/***/
.board-body .z1 .config {
    font-size: 13px;
    line-height: 21px;
}

.board-body .z1 .config .bulk div a.active:before {
    width: 15px;
}

.board-body .z1 .config a.switch-fsize i {
    display: inline;
}

.board-body .z1 .config a.switch-fsize b {
    display: none;
}

/***/
.board-body .z1 .overlay .license {
    font-size: 14px;
    line-height: 18px;
    width: 443px;
}

.board-body .z1 .overlay .about {
    font-size: 12px;
    line-height: 18px;
    width: 277px;
}

.board-body .z1 .overlay .about h1 {
    font-size: 17px;
    width: 277px;
}

.board-body .bulk a {
    border-right: 1px solid black;
    border-bottom: 0px;
    padding: 0 10px;
}

.board-body .dark .bulk a {
    border-right: 1px solid white;
    border-bottom: 0px;
    padding: 0 10px;
}

.board-body .config .bulk a {
    border: 0px;
    text-decoration: none;
}
.board-body .dark .config .bulk a {
    border: 0px;
    text-decoration: none;
}